


html {
 margin: 0;
 height: 100%;
 width: 100%;
 padding: 0;

 background: url(forest2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
 margin: 0;
 height: 100%;
 width: 100%;
 padding: 0;
 overflow: auto;
 scrollbar-width: none;
 background-color: none;
}

div {
  display: block;
  margin: auto;
  width: 100%;
  position: absolute;
  top: 50%;
 left: 50%;
  -ms-transform: translate(-50%, -50%);
 transform: translate(-50%, -50%);


}

p {
  font-size: 150%;
  color: red;
  margin:auto;
  text-align: center;
  padding-top: 10%;

}

a {
  color: red;
  text-align: center;
  text-decoration: none;

}

a:hover {
  color: #4a4a4a;
}

img {
  margin:auto;
  text-align: center;

}
